#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #0e0e14;
}

.champions-section {
  min-width: 100%;
  width: 70%;
  align-items: flex-start;
  justify-content: flex-start;
  background: #121212;
  padding: 0px 0px 0px 23px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 680px;
  overflow-y: auto;
  border: 1px solid #ffffff63;
}

.draft-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  height: 100%;
  min-width: 450px;
}

.draft-section-role {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: auto;
  background: #121212;
  padding: 7px;
}

.draft-section-role p {
  width: 30%;
  font-weight: bold;
  font-size: 0.85em;
}
.draft-section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 122px;
}
.draft-section-role img {
  max-width: 100px !important;
}
.champion-draft-img {
  border: 2px solid White;
  border-radius: 63px;
}
.role-icone {
  border-right: 4px Solid #5b4e08;
  padding-right: 15px;
}

.five-stack-draft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-width: 100%;
  height: 680px;
  border: 1px Solid #f7f7f75e;
}
.draft-lollike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 85vh;
  width: 100%;
}
.champions-pannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
  height: 100%;
  min-width: 900px;
}
.champions-pannel h2 {
  margin: auto;
}
.champions-icon-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-start;
  padding: 10px;
}
.champions-icon-select img {
  border: 1px solid #ffffff7a;
}
.champions-icon-select button {
  display: inline-block;
  color: #dff6ff;
  background: #272424e6 !important;
  padding: 12px 40px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  border: 2px solid #00bcd4;
  border-radius: 0 0 100px 100px / 0 0 25px 25px;
  box-shadow: inset 0 -4px 10px rgba(0, 188, 212, 0.5);
  cursor: pointer;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  transition: all 0.3s ease-in-out;
}
.champions-icon-select button:hover {
  background-color: #222;
  transform: scale(1.02);
  box-shadow: inset 0 -4px 12px rgba(0, 188, 212, 0.7);
}
.champions-icon-select button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border: 2px Solid #00bcd4;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  border-radius: 0 0 100px 100px / 0 0 25px 25px;
  padding: 4px;
  box-sizing: border-box;
}

/* Test Scroll * /

/* Cible l'élément scrollable */
.champions-section {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #5b4e08 #1a1a1a; /* Firefox */
}

/* Pour Chrome, Edge, Safari */
.champions-section::-webkit-scrollbar {
  width: 8px;
  appearance: none;
}

.champions-section::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 4px;
}
.champions-section::-webkit-scrollbar-button {
  display: none;
}

.champions-section::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00bcd4, #0097a7);
  border-radius: 8px;
  box-shadow: inset 0 0 4px rgba(0, 188, 212, 0.5);
}

.champions-section::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #00e5ff, #00bcd4);
}

.sim-section {
  display: flex;
  align-items: center;
  align-items: center;
  height: 60px;
  justify-self: flex-start;

  gap: 40px;
}
.sim-section button {
  display: inline-block;
  color: #dff6ff;
  background: #272424e6 !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  border: 2px solid #00bcd4;
  box-shadow: inset 0 -4px 10px rgba(0, 188, 212, 0.5);
  cursor: pointer;
  height: 42px;
  width: 100%;
  max-width: 150px;
  transition: all 0.2s ease-in-out;
}
.sim-section button:hover {
  border: 3px Solid #00bcd4;
  padding: 4px;
  box-sizing: border-box;
}
.role-selection {
  z-index: 0;
  position: absolute;
  display: flex;
  top: 162px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  gap: 5px;
}

/*Banner*/
.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0e0e14;
  padding: 15px 0px;
  border-bottom: 1px solid #7f7f7f;
}
h1 {
  font-size: 1em;
}
.banner-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.banner-right {
  background: transparent;
  border: 1px solid #ccc;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.banner-right a {
  text-decoration: none;
  color: #4b0291;
  font-weight: bold;
}
nav {
  display: flex;
  gap: 25px;
}
nav a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #4b0291;
}
.banner-right:hover {
  background: #fff;
  color: #6704c4;
}
