#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}
.champions-section {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: auto;
  gap: 20px;
  border: 3px solid white;
}

.draft-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid white;
  width: 30%;
}

.draft-section-role {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.draft-lollike {
  display: flex;
}
.champions-pannel {
  width: 70%;
}
