body {
  font-family: "Cinzel", serif;
  background-color: #0e0e14;
  color: #f1f1f1;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}
